$white: #ffffff;
$whiteHover: #fafeff;
$whiteActive: #f6fdff;
$grey: #475658;
$darkGrey: #333333;
$greyLight: #828282;
$blue: #121761;
$red: #d44b4b;
$redHover: #f46767;
$redActive: #d74343;
$bordGrey: #e0e0e0;
$darkBlue: #03073c;
$lightBlue: #a8d0fb;
